.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border-radius: 15px;
    background-color: #e7e8f8;
    padding: 20px;
}